{% extends 'base.html' %}

{% block content %}
    <section id="HistorySection">
        <div class="card shadow-lg">
            <div class="card-body">
                <h4 class="pb-3 text-center text-primary">Medical History</h4>
                <!--<button id="AddAppointment" class="btn btn-outline-success btn-block">New Medical Appointment</button>-->


                <form class="text-left" method="post" novalidate>
                    <div class="form-label-group text-left">
                        <input id="date" class="form-control{{ ' is-invalid' if errors['date'] }}" type="date" placeholder="Date" name="date"{% if date %} value="{{ date }}"{% endif %} />
                        <label for="date">Date</label>
                        {% if errors['date'] %}
                            <div class="feedback invalid-tooltip fadeIn">{{ errors['date'] }}</div>
                        {% endif %}
                    </div>

                    <div class="form-label-group text-left">
                        <input id="description" class="form-control{{ ' is-invalid' if errors['description'] }}" type="text" placeholder="Description" name="description"{% if description %} value="{{ description }}"{% endif %} />
                        <label for="description">Description</label>
                        {% if errors['description'] %}
                            <div class="feedback invalid-tooltip fadeIn">{{ errors['description'] }}</div>
                        {% endif %}
                    </div>

                    <button class="btn btn-success btn-block mb-4" type="submit">New Medication History</button>
                </form>

                {% if histories %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for history in histories %}
                                <tr>
                                    <td>{{ history['date'].strftime('%d/%m/%Y') }}</td>
                                    <td>{{ history['description'] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                     <h6 class="text-center">You do not have any Medical History Yet.</h6>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
