{% extends 'base.html' %}

{% block content %}
    <section id="HistorySection">
        <div class="card acrylic-60 shadow-lg">
            <div class="card-body pb-0">
                <h4 class="pb-3 text-center text-primary">Medical History</h4>

                <button id="HistoryToggle" class="btn btn-primary btn-block shadow mb-4" data-toggle="collapse" href="#HistoryForm">
                    {{ 'Hide New' if errors else 'New' }} Medical History
                </button>
                <form id="HistoryForm" class="text-left collapse" method="post" novalidate>
                    <div class="form-label-group text-left">
                        <input id="date" class="form-control{{ ' is-invalid' if errors['date'] }}" type="date" placeholder="Date" name="date"{% if date %} value="{{ date }}"{% endif %} />
                        <label for="date">Date</label>
                        {% if errors['date'] %}
                            <div class="feedback invalid-tooltip fadeIn">{{ errors['date'] }}</div>
                        {% endif %}
                    </div>

                    <div class="form-label-group text-left">
                        <input id="description" class="form-control{{ ' is-invalid' if errors['description'] }}" type="text" placeholder="Description" name="description"{% if description %} value="{{ description }}"{% endif %} />
                        <label for="description">Description</label>
                        {% if errors['description'] %}
                            <div class="feedback invalid-tooltip fadeIn">{{ errors['description'] }}</div>
                        {% endif %}
                    </div>

                    <button class="btn btn-success btn-block mb-4" type="submit">Add Medication History</button>
                </form>

                {% if histories %}
                    <form method="post" novalidate>
                        <table class="table table-striped mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for history in histories %}
                                    <tr>
                                        <td>{{ history['date'].strftime('%d/%m/%Y') }}</td>
                                        <td>{{ history['description'] }}</td>
                                        <td>
                                            <button class="btn btn-danger" type="submit" value="{{ history['id'] }}" name="delete">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </form>
                {% else %}
                     <h6 class="text-center pb-2">
                         You do not have any Medical History Yet.
                     </h6>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
