<div id="medReminder" class="card shadow mt-4">
    <img class="card-img-top" src="{{ url_for('static', filename='images/background/med_reminder_header_bg.png') }}" alt="Medication Reminder">

    <div class="card-body">
        <h4 class="pb-3 text-primary">Medication Reminder</h4>
        <p>
            Sign up an account with Heartphoria today and get notification on when you have to take your medication.
            With Heartphoria you would never have to worry about forgetting to take your medication on time ever again.
        </p>
        <a class="btn btn-outline-success btn-block" href="{{ url_for('auth.signup') }}">Sign Up</a>
    </div>
</div>

<div id="medSchedule" class="card shadow mt-4">
    <img class="card-img-top" src="{{ url_for('static',filename='images/background/medical_schedule_header_bg.png') }}">

    <div class="card-body">
        <h4 class="pb-3 text-primary">Medical Appointment</h4>
        <p>
            Sign up an account with Heartphoria and get reminded of your medical appointment.
            Never again will you forget your medical appointment.
        </p>
        <a class="btn btn-outline-success btn-block" href="{{ url_for('auth.signup') }}">Sign Up</a>
    </div>
</div>
