<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Heartphoria{{ ' &middot; '|safe ~ title if title }}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='favicon/safari-pinned-tab.svg') }}" color="#bb0564">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <meta name="msapplication-TileColor" content="#bb0564">
    <meta name="msapplication-config" content="{{ url_for('static', filename='favicon/browserconfig.xml') }}">
    <meta name="theme-color" content="#bb0564">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.min.css') }}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}" />
    {% block styles %}{% endblock %}
</head>

{% if bodyImg %}
    <body style="background-image: url({{ url_for('static', filename='images/background/%s' % bodyImg) }});">
{% else %}
    <body>
{% endif %}
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top shadow-sm">
        <a class="navbar-brand py-0 my-auto" href="{{ url_for('general.index') }}">
            <div class="brand-logo"></div>
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse justify-content-stretch" id="navbar">
            <hr class="d-block d-md-none d-lg-none d-md-none" />

            <ul class="navbar-nav">
                <li class="nav-item{{ ' active' if request.endpoint == 'general.index' }}">
                    <a class="nav-link" href="{{ url_for('general.index') }}">Home</a>
                </li>
                <li class="nav-item{{ ' active' if request.endpoint == 'hospital.index' }}">
                    <a class="nav-link" href="{{ url_for('hospital.index') }}">Hospital Locations</a>
                </li>
                {% if g.user %}
                    <li class="nav-item{{ ' active' if request.endpoint == 'reminder.index' }}">
                        <a class="nav-link" href="{{ url_for('reminder.index') }}">Medication Reminder</a>
                    </li>
                    <li class="nav-item{{ ' active' if request.endpoint == 'appointment.index' }}">
                        <a class="nav-link" href="{{ url_for('appointment.index') }}">Medical Appointment</a>
                    </li>
                    <li class="nav-item{{ ' active' if request.endpoint == 'history.index' }}">
                        <a class="nav-link" href="{{ url_for('history.index') }}">Medical History</a>
                    </li>
                {% endif %}
            </ul>

            <!-- Nav State (Login/Guest) -->
            {% if g.user %}
                {% include 'nav_state/user_nav.html' %}
            {% else %}
                {% include 'nav_state/guest_nav.html' %}
            {% endif %}
        </div>
    </nav>

    {% if mainType == 'home' %}
        <div id="carousel" class="carousel slide shadow-lg mb-4" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
                <div class="carousel-item active" style="background-image: url('{{ url_for('static', filename='images/background/signup_bg_slider.png') }}')">
                    <div class="d-flex flex-column justify-content-center h-100 text-center text-white px-4">
                        <h2 class="mb-2">Welcome to Heartphoria</h2>
                        <h6 class="mt-2">Start keeping track of your medical appointment and medication schedules.</h6>
                        {% if g.user['id'] %}
                            <a class="btn btn-success w-50 mx-auto mt-5" href="{{ url_for('auth.signup') }}">Sign Up</a>
                        {% endif %}
                    </div>
                </div>

                <!-- TODO: Carousel
                <div class="carousel-item" style="background-image: url('./assets/img/background/user_signup_slide.jpg')">
                    <div class="d-flex flex-column justify-content-center h-100 text-center text-white px-4">
                        <h2 class="mb-2">Register as an individual user</h2>
                        <h6 class="mt-2">Register an account with EcoSplash and start being environmental friendly with extra incentives today.</h6>
                        <a class="btn btn-success w-25 mx-auto mt-4" href="./signup">Sign Up</a>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url('./assets/img/background/organization_signup_slide.jpg')">
                    <div class="d-flex flex-column justify-content-center h-100 text-center text-white px-4">
                        <h2 class="mb-2">Register as an organization</h2>
                        <h6 class="mt-2">Register an account with EcoSplash and promote your organization, with added benefits today.</h6>
                        <a class="btn btn-success w-25 mx-auto mt-4" href="./signup">Sign Up</a>
                    </div>
                </div>
                -->
            </div>
        </div>

        <main class="home container-fluid pt-0 mt-0 mb-4 mx-auto fadeIn">
    {% elif mainType == 'vCenter' %}
        <main class="d-flex flex-column justify-content-center px-3 my-4 mx-auto fadeIn">
    {% else %}
        <main class="container-fluid my-4 mx-auto fadeIn">
    {% endif %}
        {% block content %}{% endblock %}
    </main>

    {% block modal %}
    {% endblock %}
            
    <footer class="bg-dark shadow-lg">
        <div class="container-fluid py-3">
            <div class="row">
                <div class="col-12 col-md-6">
                    <a href="{{ url_for('general.index') }}">
                        <img class="brand-logo" src="{{ url_for('static', filename='images/logo/heartphoria_colored.png') }}" />
                    </a>
                    <p class="small text-white mb-0">
                        Copyright &copy; {{ year }} Heartphoria.
                    </p>
                </div>
                <div class="col-12 col-md-6 text-md-right">
                    <hr class="d-block d-md-none d-lg-none d-xl-none" />

                    <h5 class="text-white">
                        Connect With Us
                    </h5>
                    <a class="fbLink" href="https://facebook.com">
                        <i class="fab fa-facebook-f fa-lg"></i>
                    </a>
                    <a class="twLink ml-3" href="https://twitter.com">
                        <i class="fab fa-twitter fa-lg"></i>
                    </a>
                    <a class="inLink ml-3" href="https://instagram.com">
                        <i class="fab fa-instagram fa-lg"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {% block beforeScript %}{% endblock %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
