{% extends 'base.html' %}
{% set mainType = 'home' %}

{% block content %}
    <section id="homeSection">
        <div class="row d-none d-md-flex">
            <div class="col-12 col-md-3">
                <a class="btn btn-primary btn-block py-3 py-md-5 shadow" href="">
                    <i class="fas fa-hospital-alt fa-3x mb-2"></i><br>
                    Hospital Locations
                </a>
            </div>

            <div class="col-12 col-md-3 mt-3 mt-md-0">
                <a class="btn btn-secondary btn-block py-3 py-md-5 shadow" href="{{ url_for('auth.login') }}">
                    <i class="fas fa-sign-in-alt fa-3x mb-2"></i><br>
                    Login
                </a>
            </div>

            <div class="col-12 col-md-3 mt-3 mt-md-0">
                <a class="btn btn-primary btn-block py-3 py-md-5 shadow" href="{{ url_for('auth.signup') }}">
                    <i class="fas fa-user-plus fa-3x mb-2"></i><br>
                    Sign Up
                </a>
            </div>

            <div class="col-12 col-md-3 mt-3 mt-md-0">
                <a class="btn btn-secondary btn-block py-3 py-md-5 shadow" href="">
                    <i class="fas fa-unlock-alt fa-3x mb-2"></i><br>
                    Forgot Password
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-8">
                {% if g.user %}
                    {% include 'index_state/user_index.html' %}
                {% else %}
                    {% include 'index_state/guest_index.html' %}
                {% endif %}
            </div>

            <div class="col-12 col-md-4">
                <!-- TODO: Weather API
                <div class="card acrylic shadow mt-4">
                    <div class="card-body">
                        <h4 class="pb-3 text-center text-primary">Weather</h4>
                        <p>
                            Placeholder
                        </p>
                    </div>
                </div>
                -->

                <div class="card acrylic shadow mt-4">
                    <div class="card-body">
                        <h4 class="pb-3 text-center text-primary">BMI Calculator</h4>

                        <form method="post" novalidate>
                            <div class="form-label-group">
                                <input id="weight" class="form-control" type="number" placeholder="Weight (kg)" name="weight" {{ 'value=' + bmi['weight']|string  if bmi['weight'] }} required>
                                <label for="weight">Weight (kg)</label>
                            </div>

                             <div class="form-label-group">
                                <input id="height" class="form-control" type="number" placeholder="Height (m)" name="height" {{ 'value=' + bmi['height']|string  if bmi['height'] }} required>
                                <label for="height">Height (cm)</label>
                            </div>

                            {% if bmi['index'] and bmi['text'] %}
                                <div class="fadeIn">
                                    <h2 class="text-info text-center">{{ bmi['index'] }}</h2>
                                    <h6 class="text-center text-muted">you are at <span class="text-info text-uppercase font-weight-bold">{{ bmi['text'] }}</span></h6>
                                </div>
                            {% endif %}

                            <button type="submit" class="btn btn-primary btn-block">Calculate</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
