body {
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    flex: auto;
    min-height: calc(100vh - 40px);
    padding-top: 56px !important;
    max-width: 2560px;
}

/* Profile & Edit Profile */
#ProfileSection .card-body .dp,
#EditProfileSection .card-body .dp {
    border-radius: 8px;
}

/* Home */
#HomeSection .card-img-top {
    max-height: 300px;
}

/* carousel */
.carousel {
    margin: 0 -15px;
}

.carousel .carousel-item {
    height: 50vh;
    padding-top: 82px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 767.98px) {
    .carousel .carousel-item {
        height: 70vh;
        padding-top: 82px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

/* Navbar */
.navbar {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.navbar .container-fluid {
    max-width: 2560px;
}

.navbar .navbar-brand .brand-logo {
    width: 80px;
    height: 40px;
    background-image: url("../images/logo/heartphoria_colored.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.navbar .navbar-toggler {
    border: none;
    outline: none;
}

.navbar li {
    display: inline-block;
}

/* Navbar Dropdowns*/
#ProfileDropdown .dropdown-toggle:after {
    display: none;
}

#ProfileDropdown + .dropdown-menu {
    min-width: 328px;
}

#ProfileDropdown .dropdown-menu #LogoutDropdown.dropdown-item {
    color: #dc3545;
}

#ProfileDropdown .dropdown-menu #LogoutDropdown.dropdown-item:hover {
    color: #dc3545;
    background-color: #fae3e5;
}

/* Forms */
/*.feedback {*/
    /*font-weight: 500;*/
/*}*/

.form-label-group .invalid-tooltip {
    right: 0;
    top: -1px;
    font-size: 0.775rem;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
    height: initial;
    padding: 0.75rem;
}

.form-label-group > label {
    cursor: text;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: all 0.1s ease-in-out;
}

.form-label-group input:-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input:-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(0.75rem + 0.75rem * (2 / 3));
    padding-bottom: calc(0.75rem / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: calc(0.75rem / 3);
    padding-bottom: calc(0.75rem / 3);
    font-size: 12px;
    color: #777777;
}

/* date & time input */
.form-label-group input[type='date']::-webkit-calendar-picker-indicator {
    margin-top: calc(-26px / 2);
    width: 0.8rem;
    height: 0.8rem;
}

/* remove input stepper arrow */
.form-label-group input[type='date']::-webkit-inner-spin-button,
.form-label-group input[type='date']::-webkit-outer-spin-button,
.form-label-group input[type='time']::-webkit-inner-spin-button,
.form-label-group input[type='time']::-webkit-outer-spin-button,
.form-label-group input[type='number']::-webkit-inner-spin-button,
.form-label-group input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    -moz-appearance: textfield !important;
    margin: 0 !important;
}

/* Acrylic */
.acrylic {
    background-color: transparent;
    position: relative;
    overflow: hidden;
}

.acrylic::before {
    filter: blur(10px);
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.acrylic::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.45;
    border: 0.5px solid #fff;
    background: #fff;
    background-image: url('../images/background/acrylic_overlay.png');
}

/* Footer */
footer .container-fluid {
    max-width: 2560px;
}

footer hr {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}

footer .brand-logo {
    width: 80px;
    height: 40px;
}

footer .fbLink,
footer .twLink,
footer .inLink {
    color: #ffffff;
    text-decoration: none;
}

footer .fbLink:hover {
    color: #3b5998;
}

footer .twLink:hover {
    color: #1da1f2;
}

footer .inLink:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    border-radius: 6px;
}
