<ul class="navbar-nav nav-right ml-auto d-none d-md-block d-lg-block d-xl-block">
    <li class="nav-item dropdown">
        <a id="login_dd" class="nav-link dropdown-toggle" href="" data-toggle="dropdown">
            <i class="far fa-sign-in-alt fa-lg"></i>
        </a>

        <div class="dropdown-menu dropdown-menu-right bounceInShort">
            <h6 class="dropdown-header">Have an account?</h6>

            <form id="loginForm" class="px-4 py-2" method="post" novalidate>
                <div id="email" class="form-label-group">
                    <input id="l-email" class="form-control" type="email" placeholder="Email" name="email" required autofocus />
                    <label for="l-email">Email</label>
                    <div class="feedback invalid-feedback fadeIn"></div>
                </div>
                <div id="password" class="form-label-group">
                    <input id="l-password" class="form-control" type="password" placeholder="Password" name="password" required />
                    <label for="l-password">Password</label>
                    <div class="feedback invalid-feedback fadeIn"></div>
                </div>
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input id="remember" class="custom-control-input" type="checkbox" name="remember" />
                        <label class="custom-control-label" for="remember">
                            <small>Stay Logged In?</small>
                        </label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-block">Login</button>
            </form>

            <a class="small mx-4 my-2" href="./forgot_password">Forgot password?</a>

            <hr />

            <h6 class="dropdown-header">New to Heartphoria?</h6>
            <div class="mx-4 my-2">
                <a class="btn btn-outline-success btn-block" href="./signup">Sign Up</a>
            </div>
        </div>
    </li>
</ul>