{% extends 'base.html' %}

{% block content %}
    <section id="AppoinmentSection">
        <div class="card shadow-lg">
            <div class="card-body">
                <h4 class="pb-3 text-center text-primary">Medical Appointment</h4>
                <!--<button id="AddAppointment" class="btn btn-outline-success btn-block">New Medical Appointment</button>-->


                <form class="text-left" method="post" novalidate>
                    <div class="form-label-group text-left">
                        <input id="location" class="form-control{{ ' is-invalid' if errors['location'] }}" type="text" placeholder="Hospital / Clinic" name="location"{% if location %} value="{{ location }}"{% endif %} />
                        <label for="location">Hospital / Clinic</label>
                        {% if errors['location'] %}
                            <div class="feedback invalid-tooltip fadeIn">{{ errors['location'] }}</div>
                        {% endif %}
                    </div>

                    <div class="form-label-group text-left">
                        <input id="date" class="form-control{{ ' is-invalid' if errors['date'] }}" type="date" placeholder="Date" name="date"{% if date %} value="{{ date }}"{% endif %} />
                        <label for="date">Date</label>
                        {% if errors['date'] %}
                            <div class="feedback invalid-tooltip fadeIn">{{ errors['date'] }}</div>
                        {% endif %}
                    </div>

                    <div class="form-label-group text-left">
                        <input id="date" class="form-control{{ ' is-invalid' if errors['time'] }}" type="time" placeholder="Time" name="time"{% if time %} value="{{ time }}"{% endif %} />
                        <label for="date">Time</label>
                        {% if errors['time'] %}
                            <div class="feedback invalid-tooltip fadeIn">{{ errors['time'] }}</div>
                        {% endif %}
                    </div>

                    <button class="btn btn-success btn-block mb-4" type="submit">New Medical Appointment</button>
                </form>

                {% if appointments %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Time</th>
                                <th scope="col">Hospital / Clinic</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for appointment in appointments %}
                                <tr>
                                    <td>{{ appointment['date_time'].strftime('%d/%m/%Y') }}</td>
                                    <td>{{ appointment['date_time'].strftime('%I:%M %p') }}</td>
                                    <td>{{ appointment['location'] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h6 class="text-center">You do not have any Medical Appointment Yet.</h6>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
