{% extends 'base.html' %}
{% set title = "Sign Up" %}
{% set mainType = 'vCenter' %}
{% set bodyBG = 'signup.png' %}


{% block content %}
<!-- TODO: sign up UI -->
    <section id="SignupSection">
        <div class="col-12 col-md-6 mx-auto">
            <div class="card text-center shadow-lg">
                <div class="card-body">
                    <h5 class="card-title text-primary">Sign Up</h5>

                    <p class="card-text">
                        Sign up an account with Heartphoria today and
                        gain access to additional members only features.
                    </p>

                    <form id="signupForm" class="text-left" method="post" novalidate>
                        <div id="name" class="form-label-group">
                            <input id="u-name" class="form-control" type="text" maxlength="100" placeholder="Name" name="name" autofocus />
                            <label for="u-name">Name</label>
                            <div class="feedback invalid-feedback fadeIn"></div>
                        </div>
                        <div id="email" class="form-label-group">
                            <input id="u-email" class="form-control" type="email" maxlength="255" placeholder="Email" name="email" />
                            <label for="u-email">Email</label>
                            <div class="feedback invalid-feedback fadeIn"></div>
                        </div>
                        <div id="password" class="form-label-group">
                            <input id="u-password" class="form-control" type="password" maxlength="255" placeholder="Password" name="password" />
                            <label for="u-password">Password</label>
                            <div class="feedback invalid-tooltip fadeIn"></div>
                            <small class="form-text text-muted">More then 5 characters</small>
                        </div>

                        <button type="submit" class="btn btn-success btn-block">
                            <span class="signup-text fadeIn">Sign Up</span>
                            <span class="load-text fadeIn d-none">Loading <i class="fas fa-cog fa-spin"></i></span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}