{% extends 'base.html' %}
{% set mainType = 'vCenter' %}
{% set bodyImg = 'forgot_bg.png' %}

{% block content %}
    <section id="LoginSection">
        <div class="col-12 col-md-6 mx-auto">
            <div class="card text-center shadow acrylic">
                <div class="card-body">
                    <h5 class="card-title text-primary">Forgot Password</h5>

                    <p class="card-text">
                        Enter your email address to request for a password change.
                    </p>

                    <form class="text-left" method="post" novalidate>
                        <div class="form-label-group">
                            <input id="email" class="form-control{{ ' is-invalid' if errors['email'] }}" type="email" placeholder="Email" name="email"{% if email %} value="{{ email }}"{% endif %} />
                            <label for="email">Email</label>
                            {% if errors['email'] %}
                                <div class="feedback invalid-tooltip fadeIn">{{ errors['email'] }}</div>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-danger btn-block">
                                <span class="signup-text fadeIn">Password Change Request</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
